@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Merienda:wght@300..900&display=swap');

.intro-container{
    height: 100vh;
    
    box-sizing: border-box;
    width: 100vw;
    background-image: linear-gradient(to right, #131111 , #181616);
    display: flex;

    .intro-left{
        box-sizing: border-box;
        padding: 30px;
        font-size: larger;
       
        width: 57%;
        
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .text-box{
            
            height: 99vh;
            width: 42vw;
            margin-bottom: -1.99vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .hi-box{
                
                margin-bottom: 1vh;
                margin-top: -0px;
                margin-right: -1.06vw;

                >h3{
                    font-family: "Bungee Spice";
                    font-weight: 500;
                    font-style: normal;
                    font-size: 7rem;
                }
            }

            .description{
               
                text-align: center;
                color: aquamarine;
                font-size: 2.3rem;
                font-weight: 600;
                font-family:Arial, Helvetica, sans-serif;
                margin-top: 1vh;

            }

            .social-icons{
                margin-top: 3.99vh;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                width: 26.6vw;
                margin-bottom: 12.98vh;
                z-index: 1;
                .social-icon{
                    text-decoration: none;
                    color: white;
                   font-size: 3rem;

                   &:hover{
                    background-color: rgb(12, 12, 12);
                    opacity: 0.7;
                    color: rgb(212, 202, 202);
                   }
                   
                }
            }

            .scrolldown{
                height: 0px;
                width: 42.6vw;
                text-align: right;
                margin-left: -8vw;
                margin-top: -21.9vh;
                margin-bottom: -19.98vh;
                padding-top: 27.9vh;
                padding-bottom: 0px;
                padding-right: 0;
                color: white;
                font-size: 3rem;
                cursor: pointer;

                >svg{
                    &:hover{
                        background-color: rgb(24, 23, 23);
                        opacity: 0.7;
                        color: rgb(212, 202, 202);
                       }
                }

                
            }
        }


    }

    .intro-right{
        box-sizing: border-box;
        padding: 30px;
        font-size: larger;
       
        width: 43%;
        display: flex;
        align-items: center;
        

        >img{
            margin-left: 3vw;
            height: 59.9vh;
            width: 21.3vw;
        }
    }

    
}


