.scroll-to-top-button {
    position: fixed;
    bottom: 1.99vh;
    right: 1.06vw;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 2.72vw;
    height: 4.99vh;
    font-size: 2rem;
    cursor: pointer;
    display: none;
  }
  
  .scroll-to-top-button.visible {
    display: block;
    text-align: center;
  }